body{
    color:#333333;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header{
    position: relative;
}

.sacola{
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position:top right;

    font-size: 14px;
    padding-right: 35px;
    padding-top: 8px;
    text-align: right;
    width: 140px;
    position: absolute;
    top: 0;
    right: 0;
}

/* Menu opções */

.menu-opcoes ul {
    font-size: 15px;
}

.menu-opcoes a{
    color:#003366;
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;
}

.menu-opcoes{
    position: absolute;
    bottom: 0;
    right: 0;
}

.container {
    margin: 0 auto;
    width: 940px;
}

/* Busca e menu departamentos */
.busca,
.menu-departamentos {
background-color:#DCDCDC;
font-weight: bold;
text-transform: uppercase;
margin-right: 10px;
margin-top:10px;
padding-bottom: 10px;
width: 230px;
float: left;
}

.busca h2,
 .busca form,
 .menu-departamentos h2{
 margin: 10px;
}

.menu-departamentos li {
    background-color: White;
    margin-bottom: 1px;
    padding: 5px 10px;
}
.menu-departamentos a {
color: #333333;
text-decoration: none;
}

.menu-departamentos {
    clear: left;
}
.busca input[type=search] {
    width:170px;
}

.destaque{
    margin-top:10px;
    padding-bottom: 10px;
}